# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore IDE files
.vscode/
.idea/

# Ignore configs
configs/
emporia-UI/package-lock.json
emporia-UI/package.json
